@{
    ViewBag.Title = "500Error";
}

<h2>500Error</h2>
<div class="span6 offset3 middle-aligned"">
    <div class="well primary">
        <div class ="alert alert-error" >
           500, Er is een server error opgetreden
        </div>
    </div>
</div>