@{
    ViewBag.Title = "404Error";
}

<h2>404Error</h2>
<div class="span6 offset3 middle-aligned"">
    <div class="well primary">
        <div class ="alert alert-error" >
           404, De pagina bestaat niet 
        </div>
    </div>
</div>