<connectionStrings>
  <!-- configuration data like endpoints, protocol config, relying parties etc...-->
  <add name="IdentityServerConfiguration"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.SqlServerCe.4.0" />


  <add name="SqlCe"
  connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
  providerName="System.Data.SqlServerCe.4.0" />
  <add name="ProviderDB"
      connectionString="Data Source=|DataDirectory|\IdentityServerUsers.sdf"
      providerName="System.Data.SqlServerCe.4.0" />
  <add name="elmahsqlserver" connectionString="Server=(LocalDB)\v11.0;Integrated Security=true;AttachDbFileName=|DataDirectory|elmah.mdf" providerName="System.Data.SqlClient" />
</connectionStrings>
