<profile enabled="true" defaultProvider="SqlProfile" automaticSaveEnabled="true" inherits="Thinktecture.IdentityServer.Core.MembershipExtention.CustomMembershipProfile">
  <providers>
      <add name="SqlProfile"
           type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           connectionStringName="ProviderDB"
           applicationName="/" />
    </providers>
  
  <!-- properties that should get turned into claims go here -->
</profile>

<!--<profile enabled="true" defaultProvider="SqlProfile" automaticSaveEnabled="true" inherits="Thinktecture.IdentityServer.Core.MembershipExtention.CustomMembershipProfile">
  <properties>
    --><!-- properties are defined in the inherited class --><!--
  </properties>
  <providers>
    <clear />
    <add name="SqlProfile" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="EPiServerDB" applicationName="EPiServerSample" />
  </providers>
</profile>-->