<profile enabled="true" defaultProvider="SqlProfile" automaticSaveEnabled="true" inherits="Thinktecture.IdentityServer.Core.MembershipExtention.CustomMembershipProfile">
  <providers>
    <add name="SqlProfile"
         type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
         connectionStringName="ProviderDB"
         applicationName="/" />
  </providers>
</profile>
